/* You can add global styles to this file, and also import other style files */

.container
    width 90%
    margin auto

h3
    margin-bottom 0px

/* Data table Style   */
@--hter-primary = black 

.custom-datatable,
.mat-option,
.custom-datatable .mat-select-value,
.custom-datatable .mat-select-arrow
    background-color white
    color black
    font-family arial

.mat-form-field-infix
    border-bottom 1px solid black !important

.mat-form-field-label
    color black !important
    font-family arial

.custom-datatable .mat-select-value,
.custom-datatable .mat-select-arrow,
.mat-paginator-range-label,
.mat-paginator-page-size-label
    font-size 14px
    font-family arial

.mat-option:hover
    background-color #eee !important
    color white !important

.mat-option.mat-active
    background-color #eee !important
    color white !important

.custom-datatable > thead > tr > th > div > button,
.custom-datatable > tbody > tr > td
    color black

.custom-datatable > thead > tr > th,
.custom-datatable > tbody > tr > td
    border-bottom 1px solid black

.custom-datatable button[disabled="true"]
    color black !important
    opacity 0.4

.delete-class
    background-color red
    color #eee
    border-color transparent

.add-class
    background-color green
    color #eee
    border-color transparent
